
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}


body{
    margin: 0 auto;
    padding: 0;
    width: 1358px;
    height: 100vh;
    background-color: #fff;
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;

}

.banner{
    width: inherit;
    height: 622px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('/assets/hero-bg.png');
    background-size: cover;        /* This makes the image cover the whole div */
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;
}

.banner .items{
   width: 700px;
   text-align: center;
  color: aliceblue;
}

.items .sub-text{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    opacity: 0.8;
}

 .title{
    margin: 0;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}

.items .details{
    font-size: 12px;
    font-weight: 400;
    opacity: 0.8;
}

.items button{
    padding: 12px 20px;
    background-color: #52C303;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover{
    background-color: #66e00f;
}


.card-section{
    
    width: 80%;
    margin: 0 auto;

   
}

.card-section .sub-title{
    text-align: center;
    padding-top: 50px;
    display: block;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    opacity: 0.7;
}
.cards{
display: flex;
justify-content: center;
gap: 20px;
    padding: 20px;
}

.cards .card{
    text-align: center;
}

.card img{
    width: 100%;
}

.card .food{
    margin-top: 10px ;
    padding: 10px 20px;
    border: none;
    background-color: #b5f38a;
    opacity: 0.9;
    font-weight: 600;
    border-radius: 6px;
}
.card .price{
    font-size: 25px;
    font-weight: 600;
}

.card .details{
    font-size: 12px;
}